# Ignorar archivos de entorno
.env

# Ignorar dependencias de Composer
/vendor/

# Ignorar archivos de configuración específicos del entorno
config.php

# Ignorar archivos de log
*.log

# Ignorar archivos de caché
/cache/
